<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <!-- Tipo de autenticacion -->
        <authentication mode="Windows"/>

        <!-- Tipo de Compilacion -->
        <compilation debug="true" targetFramework="4.0" />
      <!--     
      
      
      
      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        
        <error statusCode="403" redirect="NoAccess.htm" />

        
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>



      -->
    </system.web>

</configuration>
